.component {
  /* TODO: placeholder width/height */
  height: 50px;

  display: flex;
  background-color: darkgrey;
}

.left {
  width: 56px;
  flex-grow: 0;
}

.title {
  flex-grow: 1;
}

.right {
  width: 30px;
  flex-grow: 0;
}
