.component {
  background-color: lightgrey;

  /* TODO: placeholder width/height */
  max-width: 768px;
  height: 900px;

  padding: 20px;

  border-radius: 10px;
}

.body {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.contents {
  flex-grow: 1;
}
