.component {
  display: block;

  padding: 8px;
  width: 100%;

  margin-bottom: 10px;

  /* box-shadow as border */
  box-shadow: rgba(9, 30, 66, 0.14) 0px 0px 0px 2px inset;
  border-style: none;
  box-sizing: border-box; /* not overflow with width 100% */
}
